*/__pycache__/*
info.json
day-24/Output/ReadyToSend/Aang.txt
day-24/Output/ReadyToSend/Appa.txt
day-24/Output/ReadyToSend/Katara.txt
day-24/Output/ReadyToSend/Momo.txt
day-24/Output/ReadyToSend/Sokka.txt
day-24/Output/ReadyToSend/Toph.txt
day-24/Output/ReadyToSend/Uncle Iroh.txt
day-24/Output/ReadyToSend/Zuko.txt
day-32/info.json
day-32/inspo/info.json
day-36/all_data.json
day-36/credentials.json
day-36/news.json
day-36/yesterday.json
day-37/user_params.json
